# Pandas and Matplotlib
Topics to be covered:Introduction to Pandas Importing data into Python Pandas Data Frames,Indexing Data Frames ,Basic Operations With Data frame,Renaming Columns,Subletting and filtering a data frame.Matplotlib Introduction, plot(), Controlling Line Properties,Working with Multiple Figures,Histograms

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
sr = pd.Series([10,11,12,13,14,15],dtype="int16")
print(sr)
print(sr[0])
print(sr[0:2])

0    10
1    11
2    12
3    13
4    14
5    15
dtype: int16
10
0    10
1    11
dtype: int16

In [12]:
sr = pd.Series([10,11,12,13,14,15],index=['A',"B",'C',"D","E","F"])
#sr = pd.Series([10,11,12,13,14,15],index=range(6))
print(sr["A"])

10

In [16]:
tmp = np.arange(30).reshape(5,6)
df = pd.DataFrame(tmp)
print(df)

    0   1   2   3   4   5
0   0   1   2   3   4   5
1   6   7   8   9  10  11
2  12  13  14  15  16  17
3  18  19  20  21  22  23
4  24  25  26  27  28  29

In [19]:
tmp = np.arange(30).reshape(5,6)
df = pd.DataFrame(tmp,index=range(100,105),columns=["A","B","C","D","E","F"],dtype="float64")
print(df)

        A     B     C     D     E     F
100   0.0   1.0   2.0   3.0   4.0   5.0
101   6.0   7.0   8.0   9.0  10.0  11.0
102  12.0  13.0  14.0  15.0  16.0  17.0
103  18.0  19.0  20.0  21.0  22.0  23.0
104  24.0  25.0  26.0  27.0  28.0  29.0

In [31]:
tmp = np.arange(30).reshape(5,6)
df = pd.DataFrame(tmp,index=range(100,105),columns=["A","B","C","D","E","F"])
print(df.axes)
print(df.index)
print(df.columns)
print(df.dtypes)
print(df.size)

[RangeIndex(start=100, stop=105, step=1), Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')]
RangeIndex(start=100, stop=105, step=1)
Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')
A    int32
B    int32
C    int32
D    int32
E    int32
F    int32
dtype: object
30

In [38]:
tmp = np.arange(3000).reshape(100,30)
df = pd.DataFrame(tmp)
print(df.head(2))
print(df.tail(3))

   0   1   2   3   4   5   6   7   8   9  ...  20  21  22  23  24  25  26  27  \
0   0   1   2   3   4   5   6   7   8   9 ...  20  21  22  23  24  25  26  27
1  30  31  32  33  34  35  36  37  38  39 ...  50  51  52  53  54  55  56  57

   28  29
0  28  29
1  58  59

[2 rows x 30 columns]
      0     1     2     3     4     5     6     7     8     9   ...     20  \
97  2910  2911  2912  2913  2914  2915  2916  2917  2918  2919  ...   2930
98  2940  2941  2942  2943  2944  2945  2946  2947  2948  2949  ...   2960
99  2970  2971  2972  2973  2974  2975  2976  2977  2978  2979  ...   2990

      21    22    23    24    25    26    27    28    29
97  2931  2932  2933  2934  2935  2936  2937  2938  2939
98  2961  2962  2963  2964  2965  2966  2967  2968  2969
99  2991  2992  2993  2994  2995  2996  2997  2998  2999

[3 rows x 30 columns]

In [38]:
tmp = np.arange(3000).reshape(100,30)
df = pd.DataFrame(tmp)
print(df.head(2))
print(df.tail(3))

   0   1   2   3   4   5   6   7   8   9  ...  20  21  22  23  24  25  26  27  \
0   0   1   2   3   4   5   6   7   8   9 ...  20  21  22  23  24  25  26  27
1  30  31  32  33  34  35  36  37  38  39 ...  50  51  52  53  54  55  56  57

   28  29
0  28  29
1  58  59

[2 rows x 30 columns]
      0     1     2     3     4     5     6     7     8     9   ...     20  \
97  2910  2911  2912  2913  2914  2915  2916  2917  2918  2919  ...   2930
98  2940  2941  2942  2943  2944  2945  2946  2947  2948  2949  ...   2960
99  2970  2971  2972  2973  2974  2975  2976  2977  2978  2979  ...   2990

      21    22    23    24    25    26    27    28    29
97  2931  2932  2933  2934  2935  2936  2937  2938  2939
98  2961  2962  2963  2964  2965  2966  2967  2968  2969
99  2991  2992  2993  2994  2995  2996  2997  2998  2999

[3 rows x 30 columns]

In [41]:
tmp = np.arange(3000).reshape(100,30)
df = pd.DataFrame(tmp)
print(df.describe())

                0            1            2            3            4   \
count   100.000000   100.000000   100.000000   100.000000   100.000000
mean   1485.000000  1486.000000  1487.000000  1488.000000  1489.000000
std     870.344759   870.344759   870.344759   870.344759   870.344759
min       0.000000     1.000000     2.000000     3.000000     4.000000
25%     742.500000   743.500000   744.500000   745.500000   746.500000
50%    1485.000000  1486.000000  1487.000000  1488.000000  1489.000000
75%    2227.500000  2228.500000  2229.500000  2230.500000  2231.500000
max    2970.000000  2971.000000  2972.000000  2973.000000  2974.000000

                5            6            7            8            9   \
count   100.000000   100.000000   100.000000   100.000000   100.000000
mean   1490.000000  1491.000000  1492.000000  1493.000000  1494.000000
std     870.344759   870.344759   870.344759   870.344759   870.344759
min       5.000000     6.000000     7.000000     8.000000     9.000000
25%     747.500000   748.500000   749.500000   750.500000   751.500000
50%    1490.000000  1491.000000  1492.000000  1493.000000  1494.000000
75%    2232.500000  2233.500000  2234.500000  2235.500000  2236.500000
max    2975.000000  2976.000000  2977.000000  2978.000000  2979.000000

          ...                20           21           22           23  \
count     ...        100.000000   100.000000   100.000000   100.000000
mean      ...       1505.000000  1506.000000  1507.000000  1508.000000
std       ...        870.344759   870.344759   870.344759   870.344759
min       ...         20.000000    21.000000    22.000000    23.000000
25%       ...        762.500000   763.500000   764.500000   765.500000
50%       ...       1505.000000  1506.000000  1507.000000  1508.000000
75%       ...       2247.500000  2248.500000  2249.500000  2250.500000
max       ...       2990.000000  2991.000000  2992.000000  2993.000000

                24           25           26           27           28  \
count   100.000000   100.000000   100.000000   100.000000   100.000000
mean   1509.000000  1510.000000  1511.000000  1512.000000  1513.000000
std     870.344759   870.344759   870.344759   870.344759   870.344759
min      24.000000    25.000000    26.000000    27.000000    28.000000
25%     766.500000   767.500000   768.500000   769.500000   770.500000
50%    1509.000000  1510.000000  1511.000000  1512.000000  1513.000000
75%    2251.500000  2252.500000  2253.500000  2254.500000  2255.500000
max    2994.000000  2995.000000  2996.000000  2997.000000  2998.000000

                29
count   100.000000
mean   1514.000000
std     870.344759
min      29.000000
25%     771.500000
50%    1514.000000
75%    2256.500000
max    2999.000000

[8 rows x 30 columns]

In [49]:
tmp = np.arange(30).reshape(5,6)
df = pd.DataFrame(tmp,index=range(100,105),columns=["A","B","C","D","E","F"])
print(df)
print(df["A"])
#print(df.A)
print(df[["A","E","B"]])

      A   B   C   D   E   F
100   0   1   2   3   4   5
101   6   7   8   9  10  11
102  12  13  14  15  16  17
103  18  19  20  21  22  23
104  24  25  26  27  28  29
100     0
101     6
102    12
103    18
104    24
Name: A, dtype: int32
      A   E   B
100   0   4   1
101   6  10   7
102  12  16  13
103  18  22  19
104  24  28  25

In [52]:
tmp = np.arange(30).reshape(5,6)
df = pd.DataFrame(tmp)
print(df)
print(df[0])

    0   1   2   3   4   5
0   0   1   2   3   4   5
1   6   7   8   9  10  11
2  12  13  14  15  16  17
3  18  19  20  21  22  23
4  24  25  26  27  28  29
0     0
1     6
2    12
3    18
4    24
Name: 0, dtype: int32

In [94]:
tmp = np.arange(30).reshape(5,6)
df = pd.DataFrame(tmp,index=range(100,105),columns=["A","B","C","D","E","F"])
#print(df)
print(df.loc[100])
print(df.loc[[100,103],["C","F"]])
print(df.loc[100:102])
print(df.loc[100:102,"A":"D"])

A    0
B    1
C    2
D    3
E    4
F    5
Name: 100, dtype: int32
      C   F
100   2   5
103  20  23
      A   B   C   D   E   F
100   0   1   2   3   4   5
101   6   7   8   9  10  11
102  12  13  14  15  16  17
      A   B   C   D
100   0   1   2   3
101   6   7   8   9
102  12  13  14  15

In [91]:
tmp = np.arange(30).reshape(5,6)
df = pd.DataFrame(tmp,index=range(100,105),columns=["A","B","C","D","E","F"])
#print(df)
print(df.iloc[0:3,2:4])

      C   D
100   2   3
101   8   9
102  14  15

In [88]:
tmp = np.arange(30).reshape(5,6)
df = pd.DataFrame(tmp,index=range(100,105),columns=["A","B","C","D","E","F"])
print(df["A"].sum())
print(df["A"].std())
print(df["A"].mean())
print(df["A"].median())
print(df["A"].min())
print(df["A"].max())
print(df["A"].prod())
print(df[["A","D"]].cumsum())
tmp = df[["A","D"]].cumsum()
print(tmp.iloc[-1].sum())
print(tmp.tail(1).sum(axis=1))

60
9.486832980505138
12.0
12.0
0
24
0
      A   D
100   0   3
101   6  12
102  18  27
103  36  48
104  60  75
135
104    135
dtype: int64