In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [12]:
s = pd.Series([0,1,2,3,4,5],index=[11,12,13,14,15,16])
print(s)

11    0
12    1
13    2
14    3
15    4
16    5
dtype: int64

In [15]:
s[11]

0

In [23]:
s = pd.Series([0,1,2,3,4,5],index=np.arange(1,7))
print(s)

1    0
2    1
3    2
4    3
5    4
6    5
dtype: int64

In [28]:
df = pd.DataFrame([[1,2,3],[4,5,6]])
print(df)

   0  1  2
0  1  2  3
1  4  5  6

In [33]:
df = pd.DataFrame([[1,2,3],[4,56]])
print(df)
df.dtypes

   0   1    2
0  1   2  3.0
1  4  56  NaN

0      int64
1      int64
2    float64
dtype: object

In [53]:
#df = pd.DataFrame([[1,2,3],[4,56]],index=["A","B"],columns=[11,12,13])
df = pd.DataFrame([[1,2,3],[4,56]],columns=["A","B","C"],index=[11,12])
print(df)
print(df.A)
print(df.B)
print(df.C)

    A   B    C
11  1   2  3.0
12  4  56  NaN
11    1
12    4
Name: A, dtype: int64
11     2
12    56
Name: B, dtype: int64
11    3.0
12    NaN
Name: C, dtype: float64

In [63]:
df = pd.DataFrame([[1,2,3],[4,56]],columns=["A","B","C"],index=[11,12])
print(df)
print(df.loc[11])
print(df.iloc[0])

    A   B    C
11  1   2  3.0
12  4  56  NaN
A    1.0
B    2.0
C    3.0
Name: 11, dtype: float64
A    1.0
B    2.0
C    3.0
Name: 11, dtype: float64

In [70]:
df = pd.DataFrame([[1,2,3],[4,56]],columns=["A","B","C"],index=[11,12])
print(df)
print(df.loc[11,"A"])

    A   B    C
11  1   2  3.0
12  4  56  NaN
1

In [87]:
d1 = np.linspace(1,10,40)
d2 = np.linspace(-3,10,40)
#print(d1)
#print(d2)
d1 = d1.reshape(4,10)
df1 = pd.DataFrame(d1,columns=["A","B","C","D","E","F","G","H","I","J"])
print(df1)
print(df1.A)

          A         B         C         D         E         F         G  \
0  1.000000  1.230769  1.461538  1.692308  1.923077  2.153846  2.384615
1  3.307692  3.538462  3.769231  4.000000  4.230769  4.461538  4.692308
2  5.615385  5.846154  6.076923  6.307692  6.538462  6.769231  7.000000
3  7.923077  8.153846  8.384615  8.615385  8.846154  9.076923  9.307692

          H         I          J
0  2.615385  2.846154   3.076923
1  4.923077  5.153846   5.384615
2  7.230769  7.461538   7.692308
3  9.538462  9.769231  10.000000
0    1.000000
1    3.307692
2    5.615385
3    7.923077
Name: A, dtype: float64

In [99]:
df1.rename(columns={"A":"A1"})

,A1,B,C,D,E,F,G,H,I,J
0,1.000000,1.230769,1.461538,1.692308,1.923077,2.153846,2.384615,2.615385,2.846154,3.076923
1,3.307692,3.538462,3.769231,4.000000,4.230769,4.461538,4.692308,4.923077,5.153846,5.384615
2,5.615385,5.846154,6.076923,6.307692,6.538462,6.769231,7.000000,7.230769,7.461538,7.692308
3,7.923077,8.153846,8.384615,8.615385,8.846154,9.076923,9.307692,9.538462,9.769231,10.000000

In [112]:
print(df1.drop(0))
print(df1)

          A         B         C         D         E         F         G  \
1  3.307692  3.538462  3.769231  4.000000  4.230769  4.461538  4.692308
2  5.615385  5.846154  6.076923  6.307692  6.538462  6.769231  7.000000
3  7.923077  8.153846  8.384615  8.615385  8.846154  9.076923  9.307692

          H         I          J
1  4.923077  5.153846   5.384615
2  7.230769  7.461538   7.692308
3  9.538462  9.769231  10.000000
          A         B         C         D         E         F         G  \
0  1.000000  1.230769  1.461538  1.692308  1.923077  2.153846  2.384615
1  3.307692  3.538462  3.769231  4.000000  4.230769  4.461538  4.692308
2  5.615385  5.846154  6.076923  6.307692  6.538462  6.769231  7.000000
3  7.923077  8.153846  8.384615  8.615385  8.846154  9.076923  9.307692

          H         I          J
0  2.615385  2.846154   3.076923
1  4.923077  5.153846   5.384615
2  7.230769  7.461538   7.692308
3  9.538462  9.769231  10.000000

In [117]:
print(df1.drop("A",axis=1))
print(df1)

          B         C         D         E         F         G         H  \
0  1.230769  1.461538  1.692308  1.923077  2.153846  2.384615  2.615385
1  3.538462  3.769231  4.000000  4.230769  4.461538  4.692308  4.923077
2  5.846154  6.076923  6.307692  6.538462  6.769231  7.000000  7.230769
3  8.153846  8.384615  8.615385  8.846154  9.076923  9.307692  9.538462

          I          J
0  2.846154   3.076923
1  5.153846   5.384615
2  7.461538   7.692308
3  9.769231  10.000000
          A         B         C         D         E         F         G  \
0  1.000000  1.230769  1.461538  1.692308  1.923077  2.153846  2.384615
1  3.307692  3.538462  3.769231  4.000000  4.230769  4.461538  4.692308
2  5.615385  5.846154  6.076923  6.307692  6.538462  6.769231  7.000000
3  7.923077  8.153846  8.384615  8.615385  8.846154  9.076923  9.307692

          H         I          J
0  2.615385  2.846154   3.076923
1  4.923077  5.153846   5.384615
2  7.230769  7.461538   7.692308
3  9.538462  9.769231  10.000000

In [120]:
print(df1.drop(["A","D","E"],axis=1))
print(df1)

          B         C         F         G         H         I          J
0  1.230769  1.461538  2.153846  2.384615  2.615385  2.846154   3.076923
1  3.538462  3.769231  4.461538  4.692308  4.923077  5.153846   5.384615
2  5.846154  6.076923  6.769231  7.000000  7.230769  7.461538   7.692308
3  8.153846  8.384615  9.076923  9.307692  9.538462  9.769231  10.000000
          A         B         C         D         E         F         G  \
0  1.000000  1.230769  1.461538  1.692308  1.923077  2.153846  2.384615
1  3.307692  3.538462  3.769231  4.000000  4.230769  4.461538  4.692308
2  5.615385  5.846154  6.076923  6.307692  6.538462  6.769231  7.000000
3  7.923077  8.153846  8.384615  8.615385  8.846154  9.076923  9.307692

          H         I          J
0  2.615385  2.846154   3.076923
1  4.923077  5.153846   5.384615
2  7.230769  7.461538   7.692308
3  9.538462  9.769231  10.000000

In [129]:
print(df1.A.sum())
print(df1.A.mean())
print(df1.A.std())
print(df1.A.min())
print(df1.A.max())
print(df1.A.median())
print(df1.describe())
print(df1.A.describe())
print(df1.loc[0].describe())

17.846153846153847
4.461538461538462
2.9792179586210903
1.0
7.92307692308
4.461538461538462
              A         B         C         D         E         F         G  \
count  4.000000  4.000000  4.000000  4.000000  4.000000  4.000000  4.000000
mean   4.461538  4.692308  4.923077  5.153846  5.384615  5.615385  5.846154
std    2.979218  2.979218  2.979218  2.979218  2.979218  2.979218  2.979218
min    1.000000  1.230769  1.461538  1.692308  1.923077  2.153846  2.384615
25%    2.730769  2.961538  3.192308  3.423077  3.653846  3.884615  4.115385
50%    4.461538  4.692308  4.923077  5.153846  5.384615  5.615385  5.846154
75%    6.192308  6.423077  6.653846  6.884615  7.115385  7.346154  7.576923
max    7.923077  8.153846  8.384615  8.615385  8.846154  9.076923  9.307692

              H         I          J
count  4.000000  4.000000   4.000000
mean   6.076923  6.307692   6.538462
std    2.979218  2.979218   2.979218
min    2.615385  2.846154   3.076923
25%    4.346154  4.576923   4.807692
50%    6.076923  6.307692   6.538462
75%    7.807692  8.038462   8.269231
max    9.538462  9.769231  10.000000
count    4.000000
mean     4.461538
std      2.979218
min      1.000000
25%      2.730769
50%      4.461538
75%      6.192308
max      7.923077
Name: A, dtype: float64
count    10.000000
mean      2.038462
std       0.698689
min       1.000000
25%       1.519231
50%       2.038462
75%       2.557692
max       3.076923
Name: 0, dtype: float64