In [80]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [81]:
df = pd.read_csv(r"C:\Users\Admin\Desktop\28_Apr_2018\titanic_dataset.csv")

In [82]:
print df.head(2)

   pclass  survived                            name     sex      age  sibsp  \
0     1.0       1.0   Allen, Miss. Elisabeth Walton  female  29.0000    0.0
1     1.0       1.0  Allison, Master. Hudson Trevor    male   0.9167    1.0

   parch  ticket      fare    cabin embarked boat  body  \
0    0.0   24160  211.3375       B5        S    2   NaN
1    2.0  113781  151.5500  C22 C26        S   11   NaN

                         home.dest
0                     St Louis, MO
1  Montreal, PQ / Chesterville, ON

In [83]:
df = df.drop(["name","ticket","fare","cabin","boat","body","home.dest"],axis=1)
#df = df.drop(["name"],axis=1)
print df

      pclass  survived     sex      age  sibsp  parch embarked
0        1.0       1.0  female  29.0000    0.0    0.0        S
1        1.0       1.0    male   0.9167    1.0    2.0        S
2        1.0       0.0  female   2.0000    1.0    2.0        S
3        1.0       0.0    male  30.0000    1.0    2.0        S
4        1.0       0.0  female  25.0000    1.0    2.0        S
5        1.0       1.0    male  48.0000    0.0    0.0        S
6        1.0       1.0  female  63.0000    1.0    0.0        S
7        1.0       0.0    male  39.0000    0.0    0.0        S
8        1.0       1.0  female  53.0000    2.0    0.0        S
9        1.0       0.0    male  71.0000    0.0    0.0        C
10       1.0       0.0    male  47.0000    1.0    0.0        C
11       1.0       1.0  female  18.0000    1.0    0.0        C
12       1.0       1.0  female  24.0000    0.0    0.0        C
13       1.0       1.0  female  26.0000    0.0    0.0        S
14       1.0       1.0    male  80.0000    0.0    0.0        S
15       1.0       0.0    male      NaN    0.0    0.0        S
16       1.0       0.0    male  24.0000    0.0    1.0        C
17       1.0       1.0  female  50.0000    0.0    1.0        C
18       1.0       1.0  female  32.0000    0.0    0.0        C
19       1.0       0.0    male  36.0000    0.0    0.0        C
20       1.0       1.0    male  37.0000    1.0    1.0        S
21       1.0       1.0  female  47.0000    1.0    1.0        S
22       1.0       1.0    male  26.0000    0.0    0.0        C
23       1.0       1.0  female  42.0000    0.0    0.0        C
24       1.0       1.0  female  29.0000    0.0    0.0        S
25       1.0       0.0    male  25.0000    0.0    0.0        C
26       1.0       1.0    male  25.0000    1.0    0.0        C
27       1.0       1.0  female  19.0000    1.0    0.0        C
28       1.0       1.0  female  35.0000    0.0    0.0        S
29       1.0       1.0    male  28.0000    0.0    0.0        S
...      ...       ...     ...      ...    ...    ...      ...
1280     3.0       0.0    male  22.0000    0.0    0.0        S
1281     3.0       0.0    male  22.0000    0.0    0.0        S
1282     3.0       0.0    male      NaN    0.0    0.0        S
1283     3.0       0.0    male      NaN    0.0    0.0        S
1284     3.0       0.0    male      NaN    0.0    0.0        S
1285     3.0       0.0    male  32.5000    0.0    0.0        S
1286     3.0       1.0  female  38.0000    0.0    0.0        C
1287     3.0       0.0    male  51.0000    0.0    0.0        S
1288     3.0       0.0    male  18.0000    1.0    0.0        S
1289     3.0       0.0    male  21.0000    1.0    0.0        S
1290     3.0       1.0  female  47.0000    1.0    0.0        S
1291     3.0       0.0    male      NaN    0.0    0.0        S
1292     3.0       0.0    male      NaN    0.0    0.0        S
1293     3.0       0.0    male      NaN    0.0    0.0        S
1294     3.0       0.0    male  28.5000    0.0    0.0        S
1295     3.0       0.0    male  21.0000    0.0    0.0        S
1296     3.0       0.0    male  27.0000    0.0    0.0        S
1297     3.0       0.0    male      NaN    0.0    0.0        S
1298     3.0       0.0    male  36.0000    0.0    0.0        S
1299     3.0       0.0    male  27.0000    1.0    0.0        C
1300     3.0       1.0  female  15.0000    1.0    0.0        C
1301     3.0       0.0    male  45.5000    0.0    0.0        C
1302     3.0       0.0    male      NaN    0.0    0.0        C
1303     3.0       0.0    male      NaN    0.0    0.0        C
1304     3.0       0.0  female  14.5000    1.0    0.0        C
1305     3.0       0.0  female      NaN    1.0    0.0        C
1306     3.0       0.0    male  26.5000    0.0    0.0        C
1307     3.0       0.0    male  27.0000    0.0    0.0        C
1308     3.0       0.0    male  29.0000    0.0    0.0        S
1309     NaN       NaN     NaN      NaN    NaN    NaN      NaN

[1310 rows x 7 columns]

In [94]:
#print df.columns
#print df.columns[:3]
#print df.columns[4:]
col = list(df.columns[:3])+list(df.columns[4:])
print col
#rint df.age.mean()
for cl in col: # for all columns except age, replace NN with Mode
    df[cl] = df[cl].fillna(df[cl].mode()[0])
#print df
df.age = df.age.fillna(df.age.mean())
print df

['pclass', 'survived', 'sex', 'sibsp', 'parch', 'embarked']
      pclass  survived     sex        age  sibsp  parch embarked
0        1.0       1.0  female  29.000000    0.0    0.0        S
1        1.0       1.0    male   0.916700    1.0    2.0        S
2        1.0       0.0  female   2.000000    1.0    2.0        S
3        1.0       0.0    male  30.000000    1.0    2.0        S
4        1.0       0.0  female  25.000000    1.0    2.0        S
5        1.0       1.0    male  48.000000    0.0    0.0        S
6        1.0       1.0  female  63.000000    1.0    0.0        S
7        1.0       0.0    male  39.000000    0.0    0.0        S
8        1.0       1.0  female  53.000000    2.0    0.0        S
9        1.0       0.0    male  71.000000    0.0    0.0        C
10       1.0       0.0    male  47.000000    1.0    0.0        C
11       1.0       1.0  female  18.000000    1.0    0.0        C
12       1.0       1.0  female  24.000000    0.0    0.0        C
13       1.0       1.0  female  26.000000    0.0    0.0        S
14       1.0       1.0    male  80.000000    0.0    0.0        S
15       1.0       0.0    male  29.881135    0.0    0.0        S
16       1.0       0.0    male  24.000000    0.0    1.0        C
17       1.0       1.0  female  50.000000    0.0    1.0        C
18       1.0       1.0  female  32.000000    0.0    0.0        C
19       1.0       0.0    male  36.000000    0.0    0.0        C
20       1.0       1.0    male  37.000000    1.0    1.0        S
21       1.0       1.0  female  47.000000    1.0    1.0        S
22       1.0       1.0    male  26.000000    0.0    0.0        C
23       1.0       1.0  female  42.000000    0.0    0.0        C
24       1.0       1.0  female  29.000000    0.0    0.0        S
25       1.0       0.0    male  25.000000    0.0    0.0        C
26       1.0       1.0    male  25.000000    1.0    0.0        C
27       1.0       1.0  female  19.000000    1.0    0.0        C
28       1.0       1.0  female  35.000000    0.0    0.0        S
29       1.0       1.0    male  28.000000    0.0    0.0        S
...      ...       ...     ...        ...    ...    ...      ...
1280     3.0       0.0    male  22.000000    0.0    0.0        S
1281     3.0       0.0    male  22.000000    0.0    0.0        S
1282     3.0       0.0    male  29.881135    0.0    0.0        S
1283     3.0       0.0    male  29.881135    0.0    0.0        S
1284     3.0       0.0    male  29.881135    0.0    0.0        S
1285     3.0       0.0    male  32.500000    0.0    0.0        S
1286     3.0       1.0  female  38.000000    0.0    0.0        C
1287     3.0       0.0    male  51.000000    0.0    0.0        S
1288     3.0       0.0    male  18.000000    1.0    0.0        S
1289     3.0       0.0    male  21.000000    1.0    0.0        S
1290     3.0       1.0  female  47.000000    1.0    0.0        S
1291     3.0       0.0    male  29.881135    0.0    0.0        S
1292     3.0       0.0    male  29.881135    0.0    0.0        S
1293     3.0       0.0    male  29.881135    0.0    0.0        S
1294     3.0       0.0    male  28.500000    0.0    0.0        S
1295     3.0       0.0    male  21.000000    0.0    0.0        S
1296     3.0       0.0    male  27.000000    0.0    0.0        S
1297     3.0       0.0    male  29.881135    0.0    0.0        S
1298     3.0       0.0    male  36.000000    0.0    0.0        S
1299     3.0       0.0    male  27.000000    1.0    0.0        C
1300     3.0       1.0  female  15.000000    1.0    0.0        C
1301     3.0       0.0    male  45.500000    0.0    0.0        C
1302     3.0       0.0    male  29.881135    0.0    0.0        C
1303     3.0       0.0    male  29.881135    0.0    0.0        C
1304     3.0       0.0  female  14.500000    1.0    0.0        C
1305     3.0       0.0  female  29.881135    1.0    0.0        C
1306     3.0       0.0    male  26.500000    0.0    0.0        C
1307     3.0       0.0    male  27.000000    0.0    0.0        C
1308     3.0       0.0    male  29.000000    0.0    0.0        S
1309     3.0       0.0    male  29.881135    0.0    0.0        S

[1310 rows x 7 columns]